@media only screen and (max-width: 990px) {
  nav {
    position: absolute;
    background-color: transparent;
    font-family: "PT Sans", sans-serif;
    width: 100%;
    align-items: center;
    z-index: 999;

    section {
      position: absolute;
      top: 0;
      padding-top: 10rem;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.918);
      display: flex;
      flex-direction: column;
      place-items: center;
      justify-content: start;

      a {
        padding: 1rem;
        color: rgb(92, 21, 21);
        text-decoration: none;
      }
      h4 {
        color: white;
        font-size: 1.4rem;
      }
    }
  }
  img {
    height: 3rem;
    margin: 1rem;
  }

  a {
    color: white;
  }

  .abort,
  .setNew {
    position: absolute;
    width: 7rem;
    left: calc((100% - 7rem) / 2);
    bottom: 2rem;
    background-color: transparent;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid gray;
    font-family: "PT Sans", sans-serif;
    z-index: 100000;
  }
  .setNew {
    color: gray;
  }
}
