.pause {
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-image: url("../Images/circle_background.svg");
  background-position: center;
  background-size: 125%;
  text-align: center;
  color: white;

  .pauselogo {
    position: relative;
    margin: 0;
    height: 3rem;
    top: calc((100vh - 3rem) / 2);
  }
  img {
    filter: invert(100%);
  }
  h1 {
    margin-top: 3rem;
    font-size: 2.5rem;
    color: white;
    position: relative;
    top: 45%;
  }
}
.goOn {
  padding: 1rem;
  position: absolute;
  bottom: 2rem;
}
.pauseTime {
  position: relative;
  top: 40%;
  color: gray;
}
